extends ../layout

block content
    .container
        h2 Edit Group
        form(action=`/groups/${group.id}?_method=PUT` method="POST")
            .form-group
                label(for="name") Group Name:
                input#name.form-control(type="text" name="name" value=group.name required)
            .form-group
                label Members:
                each friend in friends
                    .form-check
                        input.form-check-input(type="checkbox" id=`friend_${friend._id}` name="members" value=friend._id checked=group.members.includes(friend._id.toString()))
                        label.form-check-label(for=`friend_${friend._id}`)= friend.username
            button.btn.btn-primary(type="submit") Update Group
