extends ../layout

block content
    .container
        h2 Group Information
        p Name: #{group.name}
        p Creator: #{group.creator}
        a.btn.btn-primary(href=`/groups/${group._id}/${group.dashboard}`) View Dashboard
        p Members:
            ul
                each member in group.members
                    li= member
        a.btn.btn-primary(href=`/groups/${group.id}/edit`) Edit Group
        form(action=`/groups/${group.id}?_method=DELETE` method="POST")
            button.btn.btn-danger(type="submit" id="red-button") Delete Group
