extends ../layout

block content
    .container
        .row
            .col-md-6
                h2 Note Information

                .note-section
                    label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Title:
                    span#titleText(style="font-family: 'Verdana', sans-serif;") #{note.title}
                
                .note-section
                    label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Content:
                    p#contentText(style="font-family: 'Verdana', sans-serif;") #{note.content}
                
                .note-section
                    label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Importance:
                    span#importanceText(style="font-family: 'Verdana', sans-serif;") #{note.importance}
                
                .note-section
                    label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Completed:
                    input#completedCheckbox(type="checkbox" checked=note.completed, disabled)

            .col-md-6
                h2 Edit Note

                button.btn.btn-primary(id="toggleFormBtn") Show Form

                form#editNoteForm(action=`/notes/${note._id}?_method=PUT`, method="POST" style="display: none;")
                    .note-section
                        label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Title:
                        input(type="text" name="title" value=note.title)

                    .note-section
                        label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Content:
                        textarea(name="content" style="font-family: 'Verdana', sans-serif;") #{note.content}

                    .note-section
                        label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Importance:
                        input(type="number" name="importance" value=note.importance)

                    .note-section
                        label(style="font-family: 'Arial', sans-serif; font-weight: bold;") Completed:
                        input#completedCheckbox(type="checkbox" name="completed" checked=note.completed)

                    button.btn.btn-primary(id="updateBtn" type="submit") Update

    script.
        document.addEventListener('DOMContentLoaded', function() {
            const toggleFormBtn = document.getElementById('toggleFormBtn');
            const editNoteForm = document.getElementById('editNoteForm');

            toggleFormBtn.addEventListener('click', function() {
                editNoteForm.style.display = editNoteForm.style.display === 'none' ? 'block' : 'none';
                toggleFormBtn.textContent = editNoteForm.style.display === 'none' ? 'Show Form' : 'Close Form';
            });
        });
