extends ../layout

block content
    .container
        h2 User Information
        p Username: #{user.username}
        p Email: #{user.email}
        a.btn.btn-primary(href=`/users/${user._id}/${user.dashboard}`) View Dashboard
        if user.achievements.length > 0
            h3 Achievements
            ul
                each achievement in user.achievements
                    li= achievement.name
        else
            p No achievements yet.
        a.btn.btn-secondary(href=`/users/${user._id}/edit`) Edit User
        form(action=`/users/${user.id}?_method=DELETE` method="POST")
            button.btn.btn-danger(type="submit" id="red-button") Delete User
